.inputGroup {
  padding: 3px 0;
}

.inputGroup > * + * {
  margin-left: 12px;
}

.presetPreview {
  height: 180px;
  max-width: 95%;
  object-fit: contain;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

.wfcOutput {
  width: 90vmin;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

main > * {
  margin: 10px 0px;
}
