.inputGroup {
  padding: 3px 0;
}

.inputGroup > * + * {
  margin-left: 12px;
}

.presetPreview {
  height: 160px;
  max-width: 90%;
  object-fit: contain;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

.wfcOutput {
  width: 90vmin;
  max-height: 90vmin;
  object-fit: contain;
  object-position: top left;
  background-position: top left;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

main > * {
  margin: 10px 0px;
}
